/* ----- twitter ------ */

.TwitterBtn {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: var(--rc-color-typography-button);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(40, 144, 241);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(40, 144, 241);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    z-index: 2;
  }
  
  .TwitterBtn:hover {
    color: #fff;
    border: 1px solid rgb(40, 144, 241);
    z-index: 3;
  }
  
  .TwitterBtn:hover::before {
    box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
    
  }
  
  /* ----- instagram, discord, twitch ------ */
  
  .instagramBtn,
  .discordBtn,
  .twitchBtn {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: var(--rc-color-typography-button);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #800080;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: purple;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    z-index: 2;
  }
  
  .instagramBtn span,
  .discordBtn span,
  .twitchBtn span,
  .TwitterBtn span {
    margin: 10px;
    color: white;
    z-index: 2;
  }
  
  .instagramBtn::before,
  .discordBtn::before,
  .twitchBtn::before,
  .TwitterBtn::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .instagramBtn:hover,
  .discordBtn:hover,
  .twitchBtn:hover {
    color: #fff;
    border: 1px solid purple;
  }
  
  .instagramBtn:hover::before,
  .discordBtn:hover::before,
  .twitchBtn:hover::before {
    box-shadow: inset 0 0 0 10em purple;
  }

  @media screen and (max-width: 375px) {
/* ----- twitter ------ */

.TwitterBtn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 0px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  z-index: 2;
}

.TwitterBtn:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
  z-index: 3;
}

.TwitterBtn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
  
}

/* ----- instagram, discord, twitch ------ */

.instagramBtn,
.discordBtn,
.twitchBtn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 0px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #800080;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: purple;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  z-index: 2;
}

.instagramBtn span,
.discordBtn span,
.twitchBtn span,
.TwitterBtn span {
  margin: 10px;
  color: white;
  z-index: 2;
}

.instagramBtn::before,
.discordBtn::before,
.twitchBtn::before,
.TwitterBtn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.instagramBtn:hover,
.discordBtn:hover,
.twitchBtn:hover {
  color: #fff;
  border: 1px solid purple;
}

.instagramBtn:hover::before,
.discordBtn:hover::before,
.twitchBtn:hover::before {
  box-shadow: inset 0 0 0 10em purple;
}
  }